<h1>Paper List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Year</th>
    <th colspan="3"/>
  </tr>

  <% @papers.each do |paper| %>
    <% if !@filter_params.has_key?(:year) or @filter_params[:year] == paper.year.to_s %>
      <%= render paper %>
    <% end %>
  <% end %>
</table>

<%= link_to "Add paper", new_paper_path %>
